@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-yellow: #FCA933;
    --theme-blue: #085AA0;
    --dark: #1c1c1c;
    --light: #f1f1f1;
}

body {
    background-color: #F1F1EF;
}